# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods.

* CSV
* Excel
* HTML
* SQL

In [1]:
import numpy as np
import pandas as pd

## Reading and writing from CSV

### CSV Input

In [2]:
pwd

'/home/baka/Project/eternal-Learning/Machine Learning Basics/Pandas'

In [3]:
cat example

a,b,c,d
0,1,2,3
4,5,6,7
8,9,10,11
12,13,14,15

In [4]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [5]:
df.to_csv('output.csv')

In [6]:
df_new = pd.read_csv('output.csv')
df_new

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

Here the index of the DataFrame is also saved. Since **by default the index parameter in to_csv() is True**.

In [7]:
cat output.csv

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [8]:
df.to_csv('output.csv', index=False)

In [9]:
df_new = pd.read_csv('output.csv')
df_new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
cat output.csv

a,b,c,d
0,1,2,3
4,5,6,7
8,9,10,11
12,13,14,15

## Reading and writing from Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [11]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [12]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [13]:
df = pd.read_html('data.html')

In [14]:
df[0].head()

,Title,Type,Year,Avg,StatusEpsRating
0,Aggressive Retsuko (2018),Web,2018,4.33,Unwatched Watched Watching Want to Watch Stall...
1,Aikatsu Friends!,TV,2018,3.72,Unwatched Watching Want to Watch Stalled Dropp...
2,Alice or Alice: Siscon Nii-san to Futago no Im...,TV,2018,1.76,Unwatched Watching Want to Watch Stalled Dropp...
3,Amai Choubatsu - Watashi wa Kanshu Sen'you Pet,Web,2018,1.63,Unwatched Watching Want to Watch Stalled Dropp...
4,Amanchu! Advance,TV,2018,3.88,Unwatched Watching Want to Watch Stalled Dropp...

____

_____
_____
# SQL (Optional)

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Pythonâ€™s standard library by default. We can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('sqlite:///:memory:')

In [17]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
df.to_sql('data', engine, index=False)

In [19]:
sql_df = pd.read_sql('data',con=engine)

In [20]:
sql_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15